{% extends 'base.html' %}

{% block content %}
<section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">ДЕМО САЙТ</h1>
			<p class="lead text-muted">Сайт написан с использованием Python, Django, Html, Bootstrap, PostgreSQL. <br> В процессе будет дорабатыватся.</p>
			<p>
				<a href="{% url 'add_page' %}" class="btn btn-primary my-2">Создать профиль<a>
				<a href="{% url 'pages' %}" class="btn btn-secondary my-2">Посмотреть все</a>
			</p>
		</div>
	</div>
</section>

{% endblock %}