<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Профиль</title>
</head>
<body>

{% block content %}
{% for p in pages %}
	<div class="row">
		<div class="col-md-9">
			<div class="card" style="width: 18rem;">
				<img src="{{ p.image.url }}" class="card-img-top" alt="">
				<div class="card-body">
					<h5 class="card-title">{{ p.name }}</h5>
					<p class="card-text">{{ p.text }}</p>
					<a class="card-text" href="{% url 'editprofil' p.id %}">{{ p.id }}</a>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}
</body>
</html>